@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');


h1, h2, h3, h4, h5, h6
{
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

p
{
  font-family:  'Source Sans Pro', sans-serif;
  font-weight: normal;
}

a
{
  font-family: 'Open Sans', sans-serif;
  //font-family: 'Open Sans', sans-serif;
}