header
{
  .navbar-brand
  {
    float: left;
    margin-right: 35px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    letter-spacing: 1.6px;
    font-size: 36px;
    line-height: 18px;
    height: auto;
  }

  .nav li a.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  }

  .navbar-toggle .icon-bar
  {
    background-color: #888;
  }

  .navbar
  {
    padding: 7px 0;
    margin-bottom: 0;
  }

  .navbar-formastudios
  {
    //background-color: #ecf0f1;
    background-color: #fefefe;
    border: 1px solid #aaa;
    border-top: 5px solid #3498db;
  }

  a
  {
    color: #2C3E50;
    padding: 5px 8px;
    font-family: 'Open Sans', sans-serif;
  }

  a:hover
  {
    color: #555;
    background: none;
  }

  .nav-login
  {
    border: 1px solid #2C3E50;
  }

  .nav-login:hover
  {
    border: 1px solid #4183D7;
  }

}

@media (max-width: $screen-xs-max)
{
  .navbar-brand
  {
    padding: 16px 10px 9px;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  .navbar-brand
  {
    padding: 18px 10px 9px;
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

  .navbar-brand
  {
    padding: 16px 10px 9px;

  }

}

@media (min-width: $screen-lg-min)
{
  header
  {
    .navbar-nav
    {
      > li
      {
        > a
        {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }

  .navbar-brand
  {
    padding: 12px 10px 9px;
  }
}




