.banner
{
  //background: #51B4CC;
  background: url("/img/wall2.jpg");
  background-size: cover;
  height: 450px;
  width: 100%;
  display: block;
  position: relative;
  padding: 80px 0;
  margin-bottom: 30px;

  .banner-table
  {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 99;
  }

  .banner-caption
  {
    margin-top: 15%;
    text-align: left;

  }
}

