.pricetable-container
{
  padding: 0 15px;

  .price-table {
    background: #fff;
    margin: 30px 0;
    text-align: center;
    padding-bottom: 30px;

    .btn {
      color: #fff;
      margin-top: 30px;
    }

    h3 {
      font-size: 25px;
      line-height: 25px;
      padding: 30px 0;
      border-bottom: #E7E7E7 2px solid;
      text-transform: uppercase;
    }

    p {
      color: #666;
      font-size: 36px;
      padding: 30px 0;
      font-weight: 400;

      span {
        display: block;
        font-size: 10px;
        font-weight: 300;
        text-transform: uppercase;
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        font-size: 12px;
        border-bottom: #ddd 1px dashed;
        padding: 8px;
        text-transform: uppercase;
      }
    }

  }


}

#subscription{
  padding-top: 40px;
  h2{
    font-weight: 300;
  }
}