.slider-wrapper{
  background: #ECECEC;
}



@media (min-width: $screen-lg-min)
{
  .slider-wrapper{
    height: 520px;
    background: url("/img/rs5/photography8.jpg") no-repeat left;
    background-size: cover;
    .slider-group{

      padding: 156px 156px 156px 0px;

      .slider-featured-text{
        color: #fff;
      }

    }
  }

  .slider-wrapper-2
  {
    background: url("/img/rs5/photography1.jpg") top right;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #111;
  }

  .slider-wrapper-3{
    background: url("/img/rs5/photography9.jpg") top right;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2B212A;
    background-position-y: -320px;
    background-position-x: 257px;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max)
{
  .slider-wrapper{
    height: 520px;
    background: url("/img/rs5/photography8.jpg") no-repeat left;
    background-size: cover;
    .slider-group{

      padding: 156px 156px 156px 0px;

      .slider-featured-text{
        color: #fff;
      }

    }
  }

}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
{
  .slider-wrapper{
    height: 520px;
    background: url("/img/rs5/photography8.jpg") no-repeat left;
    background-size: cover;
    .slider-group{

      padding: 156px 156px 156px 0px;

      .slider-featured-text{
        color: #fff;
      }

    }
  }
}

@media (max-width: $screen-xs-max)
{
  .slider-wrapper{
    height: 314px;
    background: url("/img/rs5/photography8.jpg") no-repeat left;
    background-size: cover;
    .slider-group{

      padding: 88px 0 0 0;

      .slider-featured-text{
        color: #fff;
        font-size: 30px;
      }

    }
  }
}